<div class="hotWrapDiv">
{% comment %} House of Twang hero Div {% endcomment %}
<div class="bannerHoTDiv container">
  <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/HOT_Logo-web_870d5663-09f3-4dda-a313-0d90e5c4183a.png?v=1686226387"
    width="" height=""
    alt="House of Twang"
    class="hotLogo"
    loading="lazy">
    <p class="bannerHoTText">
      Duke's House of Twang! takes a behind the scenes look at the gritty inner workings of iconic restaurants throughout the South. 
    </p>
</div>
{% comment %} Videos {% endcomment %}
{% comment %} video 1 {% endcomment %}
{% comment %} Lg Screen {% endcomment %}
<div class="container videoWrapper text-center d-none d-lg-block">
  <div class="row">
    <div class="col-md-8 ">
      <iframe width="100%" height="500px" src="https://www.youtube.com/embed/BPZDiaJzq1w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 restTextDiv">
      <p class="restName restNameLG">TURKEY & THE WOLF</p>
      <p class="restCity restCityLG">NEW ORLEANS, LA</p>
    </div>
  </div>
</div>
{% comment %} Md Screen {% endcomment %}
<div class="container videoWrapper text-center d-none d-md-block d-lg-none">
  <div class="row">
    <div class="col-md-8 ">
      <iframe width="100%" height="400px" src="https://www.youtube.com/embed/BPZDiaJzq1w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 restTextDivMd">
      <p class="restName restNameMed">TURKEY & THE WOLF</p>
      <p class="restCity restNameMed">NEW ORLEANS, LA</p>
    </div>
  </div>
</div>
{% comment %} Sm Screen {% endcomment %}
<div class="container videoWrapper text-center d-block d-md-none">
  <div class="row">
    <div class="col-md-8 ">
      <iframe width="100%" height="400px" src="https://www.youtube.com/embed/BPZDiaJzq1w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 restTextDivSm">
      <p class="restName restNameSm">TURKEY & THE WOLF</p>
      <p class="restCity restNameSm">NEW ORLEANS, LA</p>
    </div>
  </div>
</div>
{% comment %} End Video 1 {% endcomment %}

{% comment %} video 2 {% endcomment %}
{% comment %} Lg Screen {% endcomment %}
<div class="container videoWrapper text-center d-none d-lg-block">
  <div class="row">
  
    <div class="col-md-4 restTextDiv">
      <p class="restName restNameLG">BEASLEY'S CHICKEN & HONEY</p>
      <p class="restCity restCityLG">RALEIGH, NC</p>
    </div>
    <div class="col-md-8 ">
      <iframe width="100%" height="500px" src="https://www.youtube.com/embed/8Gr3Vp1wx9I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% comment %} Md Screen {% endcomment %}
<div class="container videoWrapper text-center d-none d-md-block d-lg-none">
  <div class="row">
    
    <div class="col-md-4 restTextDivMd">
      <p class="restName restNameMed">BEASLEY'S CHICKEN & HONEY</p>
      <p class="restCity restNameMed">RALEIGH, NC</p>
    </div>
    <div class="col-md-8 ">
      <iframe width="100%" height="400px" src="https://www.youtube.com/embed/8Gr3Vp1wx9I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% comment %} Sm Screen {% endcomment %}
<div class="container videoWrapper text-center d-block d-md-none">
  <div class="row">
    <div class="col-md-8 ">
      <iframe width="100%" height="400px" src="https://www.youtube.com/embed/8Gr3Vp1wx9I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 restTextDivSm">
      <p class="restName restNameSm">BEASLEY'S CHICKEN & HONEY</p>
      <p class="restCity restNameSm">RALEIGH, NC</p>
    </div>
  </div>
</div>
{% comment %} End Video 2 {% endcomment %}

{% comment %} video 3 {% endcomment %}
{% comment %} Lg Screen {% endcomment %}
<div class="container videoWrapper text-center d-none d-lg-block">
  <div class="row">
    <div class="col-md-8 ">
      <iframe width="100%" height="500px" src="https://www.youtube.com/embed/fr9oHHhstIg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 restTextDiv">
      <p class="restName restNameLG">RUTHIE'S ALL-DAY</p>
      <p class="restCity restCityLG">ARLINGTON, VA</p>
    </div>
  </div>
</div>
{% comment %} Md Screen {% endcomment %}
<div class="container videoWrapper text-center d-none d-md-block d-lg-none">
  <div class="row">
    <div class="col-md-8 ">
      <iframe width="100%" height="400px" src="https://www.youtube.com/embed/fr9oHHhstIg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 restTextDivMd">
      <p class="restName restNameMed">RUTHIE'S ALL-DAY</p>
      <p class="restCity restNameMed">ARLINGTON, VA</p>
    </div>
  </div>
</div>
{% comment %} Sm Screen {% endcomment %}
<div class="container videoWrapper text-center d-block d-md-none">
  <div class="row">
    <div class="col-md-8 ">
      <iframe width="100%" height="400px" src="https://www.youtube.com/embed/fr9oHHhstIg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 restTextDivSm">
      <p class="restName restNameSm">RUTHIE'S ALL-DAY</p>
      <p class="restCity restNameSm">ARLINGTON, VA</p>
    </div>
  </div>
</div>
{% comment %} End Video 3 {% endcomment %}

{% comment %} video 4 {% endcomment %}
{% comment %} Lg Screen {% endcomment %}
<div class="container videoWrapper text-center d-none d-lg-block">
  <div class="row">
    
    <div class="col-md-4 restTextDiv">
      <p class="restName restNameLG">WHOLY SMOKE</p>
      <p class="restCity restCityLG">MAULDIN, SC</p>
    </div>
    <div class="col-md-8 ">
      <iframe width="100%" height="500px" src="https://www.youtube.com/embed/URqy_KnHGY8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% comment %} Md Screen {% endcomment %}
<div class="container videoWrapper text-center d-none d-md-block d-lg-none">
  <div class="row">
 
    <div class="col-md-4 restTextDivMd">
      <p class="restName restNameMed">WHOLY SMOKE</p>
      <p class="restCity restNameMed">MAULDIN, SC</p>
    </div>
    <div class="col-md-8 ">
      <iframe width="100%" height="400px" src="https://www.youtube.com/embed/URqy_KnHGY8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% comment %} Sm Screen {% endcomment %}
<div class="container videoWrapper text-center d-block d-md-none">
  <div class="row">
    <div class="col-md-8 ">
      <iframe width="100%" height="400px" src="https://www.youtube.com/embed/URqy_KnHGY8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 restTextDivSm">
      <p class="restName restNameSm">WHOLY SMOKE</p>
      <p class="restCity restNameSm">MAULDIN, SC</p>
    </div>
  </div>
</div>
{% comment %} End Video 4{% endcomment %}

{% comment %} video 5 {% endcomment %}
{% comment %} Lg Screen {% endcomment %}
<div class="container videoWrapper text-center d-none d-lg-block">
  <div class="row">
    <div class="col-md-8 ">
      <iframe width="100%" height="500px" src="https://www.youtube.com/embed/pBIfpDbEFKU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 restTextDiv">
      <p class="restName restNameLG">300 EAST</p>
      <p class="restCity restCityLG">CHARLOTTE, NC</p>
    </div>
  </div>
</div>
{% comment %} Md Screen {% endcomment %}
<div class="container videoWrapper text-center d-none d-md-block d-lg-none">
  <div class="row">
    <div class="col-md-8 ">
      <iframe width="100%" height="400px" src="https://www.youtube.com/embed/pBIfpDbEFKU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 restTextDivMd">
      <p class="restName restNameMed">300 EAST</p>
      <p class="restCity restNameMed">CHARLOTTE, NC</p>
    </div>
  </div>
</div>
{% comment %} Sm Screen {% endcomment %}
<div class="container videoWrapper text-center d-block d-md-none">
  <div class="row">
    <div class="col-md-8 ">
      <iframe width="100%" height="400px" src="https://www.youtube.com/embed/pBIfpDbEFKU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 restTextDivSm">
      <p class="restName restNameSm">300 EAST</p>
      <p class="restCity restNameSm">CHARLOTTE, NC</p>
    </div>
  </div>
</div>
{% comment %} End Video 5 {% endcomment %}

{% comment %} video 6 {% endcomment %}
{% comment %} Lg Screen {% endcomment %}
<div class="container videoWrapper text-center d-none d-lg-block">
  <div class="row">
  
    <div class="col-md-4 restTextDiv">
      <p class="restName restNameLG">BUTCHER & BEE</p>
      <p class="restCity restCityLG">NASHVILLE, TN</p>
    </div>
    <div class="col-md-8 ">
      <iframe width="100%" height="500px" src="https://www.youtube.com/embed/3p9CG6YV_X8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% comment %} Md Screen {% endcomment %}
<div class="container videoWrapper text-center d-none d-md-block d-lg-none">
  <div class="row">
 
    <div class="col-md-4 restTextDivMd">
      <p class="restName restNameMed">BUTCHER & BEE</p>
      <p class="restCity restNameMed">NASHVILLE, TN</p>
    </div>
    <div class="col-md-8 ">
      <iframe width="100%" height="400px" src="https://www.youtube.com/embed/3p9CG6YV_X8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% comment %} Sm Screen {% endcomment %}
<div class="container videoWrapper text-center d-block d-md-none">
  <div class="row">
    <div class="col-md-8 ">
      <iframe width="100%" height="400px" src="https://www.youtube.com/embed/3p9CG6YV_X8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 restTextDivSm">
      <p class="restName restNameSm">BUTCHER & BEE</p>
      <p class="restCity restNameSm">NASHVILLE, TN</p>
    </div>
  </div>
</div>
{% comment %} End Video 6 {% endcomment %}

{% comment %} video 7 {% endcomment %}
{% comment %} Lg Screen {% endcomment %}
<div class="container videoWrapper text-center d-none d-lg-block">
  <div class="row">
    <div class="col-md-8 ">
      <iframe width="100%" height="500px" src="https://www.youtube.com/embed/OfddH4_XZnY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 restTextDiv">
      <p class="restName restNameLG">COBRA BURGER</p>
      <p class="restCity restCityLG">RICHMOND, VA</p>
    </div>
  </div>
</div>
{% comment %} Md Screen {% endcomment %}
<div class="container videoWrapper text-center d-none d-md-block d-lg-none">
  <div class="row">
    <div class="col-md-8 ">
      <iframe width="100%" height="400px" src="https://www.youtube.com/embed/OfddH4_XZnY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 restTextDivMd">
      <p class="restName restNameMed">COBRA BURGER</p>
      <p class="restCity restNameMed">RICHMOND, VA</p>
    </div>
  </div>
</div>
{% comment %} Sm Screen {% endcomment %}
<div class="container videoWrapper text-center d-block d-md-none">
  <div class="row">
    <div class="col-md-8 ">
      <iframe width="100%" height="400px" src="https://www.youtube.com/embed/OfddH4_XZnY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 restTextDivSm">
      <p class="restName restNameSm">COBRA BURGER</p>
      <p class="restCity restNameSm">RICHMOND, VA</p>
    </div>
  </div>
</div>
{% comment %} End Video 7 {% endcomment %}

{% comment %} Chef Testimonials {% endcomment %}

<div class="yellowDividerHoT"> </div>
<div class="testimonialDivHoT">
    <p class="testDivHeader">

    </p>
    <div class="container">
        <div class="row gx-3 gy-3">
        <div class="col-md-6 ">
          <div class="testIndividalDiv h-100 ">
            <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Mayo_circle_7ba7e3a3-62a5-4758-9548-4378c82265c4.png?v=1680268778"
              width="" height=""
              alt="Duke's Logo on black background"
              loading="lazy"
              class="dukesLogoHoTQuote">
            <p class="quoteHoT">
              “Duke’s makes my cake unbelievably moist!”
            </p>
            <p class="nameQuoteHoT">
              Highlands Bar & Grill, Bottega, Chez Fonfon, Dolester Miles
            </p>
          </div>
        </div>
        <div class="col-md-6">
          {% comment %} quote  {% endcomment %}
          <div class="testIndividalDiv h-100 ">
            <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Mayo_circle_7ba7e3a3-62a5-4758-9548-4378c82265c4.png?v=1680268778"
              width="" height=""
              alt="Duke's Logo on black background"
              loading="lazy"
              class="dukesLogoHoTQuote">
            <p class="quoteHoT">
              "Duke's makes my potato salad pack a tangy punch!"  </p>
            <p class="nameQuoteHoT">
              Husk Nashville, Katie Coss
            </p>
          </div>
          {% comment %} end Quote {% endcomment %}
      </div>
        <div class="col-md-6 ">
          {% comment %} quote  {% endcomment %}
          <div class="testIndividalDiv h-100 ">
            <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Mayo_circle_7ba7e3a3-62a5-4758-9548-4378c82265c4.png?v=1680268778"
              width="" height=""
              alt="Duke's Logo on black background"
              loading="lazy"
              class="dukesLogoHoTQuote">
            <p class="quoteHoT">
              “Duke’s is revered by chefs for its richness. It’s really the closest thing on the market to a housemade aioli and that’s why I always turn to it when cooking. For me, it’s the one and only mayo to use.”
            </p>
            <p class="nameQuoteHoT">
              Red Clay Hot Sauce, Geoff Rhyne
            </p>
          </div>
          {% comment %} end Quote {% endcomment %}
        </div>
       
        <div class="col-md-6">
            {% comment %} quote  {% endcomment %}
            <div class="testIndividalDiv h-100 ">
              <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Mayo_circle_7ba7e3a3-62a5-4758-9548-4378c82265c4.png?v=1680268778"
                width="" height=""
                alt="Duke's Logo on black background"
                loading="lazy"
                class="dukesLogoHoTQuote">
              <p class="quoteHoT">
                "Walter Bundy wouldn’t shut up about it, and I was like, ‘What’s the big deal?’ I realized at that moment it was like a religion. And there was something different about it."
              </p>
              <p class="nameQuoteHoTwo">
                Shagbark, Formly Lemaire, Walter Bundy
              </p>
              <p class="nameQuoteHoT">
                Garden & Gun
              </p>
            </div>
            {% comment %} end Quote {% endcomment %}
        </div>
 
        <div class="col-md-6">
          {% comment %} quote  {% endcomment %}
          <div class="testIndividalDiv h-100 ">
            <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Mayo_circle_7ba7e3a3-62a5-4758-9548-4378c82265c4.png?v=1680268778"
              width="" height=""
              alt="Duke's Logo on black background"
              loading="lazy"
              class="dukesLogoHoTQuote">
            <p class="quoteHoT">
              "Mason says that Turkey and the Wolf thought about making their own [mayonnaise], “but Duke’s is king.” </p>
            <p class="nameQuoteHoTwo">
              Turkey and the Wolf, Mason Hereford
            </p>
            <p class="nameQuoteHoT">
              BonAppetit.com
            </p>
          </div>
          {% comment %} end Quote {% endcomment %}
      </div>
    <div class="col-md-6">
      {% comment %} quote  {% endcomment %}
      <div class="testIndividalDiv h-100 ">
        <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Mayo_circle_7ba7e3a3-62a5-4758-9548-4378c82265c4.png?v=1680268778"
          width="" height=""
          alt="Duke's Logo on black background"
          loading="lazy"
          class="dukesLogoHoTQuote">
        <p class="quoteHoT">
          "If you were really good at making mayonnaise, this is what your mayonnaise would taste like."
        </p>
        <p class="nameQuoteHoTwo">
          Founding Partner, Alley/Jones Hospitalty, Jason Alley
        </p>
        <p class="nameQuoteHoT">
          Garden & Gun
        </p>
      </div>
      {% comment %} end Quote {% endcomment %}
  </div>
  <div class="col-md-6">
    {% comment %} quote  {% endcomment %}
    <div class="testIndividalDiv h-100 ">
      <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Mayo_circle_7ba7e3a3-62a5-4758-9548-4378c82265c4.png?v=1680268778"
        width="" height=""
        alt="Duke's Logo on black background"
        loading="lazy"
        class="dukesLogoHoTQuote">
      <p class="quoteHoT">
        "When you make your first tomato sandwich with [Duke's], that flavor is locked into your brain, and every time you make mayonnaise you’re chasing that flavor. And then you wonder, ‘Why am I even making my own mayonnaise?’ I haven’t made mayonnaise in ten years."
      </p>
      <p class="nameQuoteHoTwo">
        Husk, Chef Sean Brock
      </p>
      <p class="nameQuoteHoT">
        Garden & Gun
      </p>
    </div>
    {% comment %} end Quote {% endcomment %}
</div>
        
        </div>
    </div>
</div>

<div class="yellowDividerHoT"> </div>
</div>
{%- style -%}

{%- endstyle -%}
{% javascript %}

{% endjavascript %}
{% schema %}
   {
    "name": "Section name",
    "settings": []
  }

{% endschema %}