
{% stylesheet %}
 .heroTextProcxl{
    font-size: 2.5em;
    padding: 40px;
    
  }
         .navContainer{
            background-color: black;
            padding: 10px 0 5px;
          }
          .secNavLinkContainer{
            border-right: white 2px solid ;
          }
          .secNavLink{
            color: white;
            cursor: pointer;
            font-size: 1.2em;
          }
          .secNavLink:hover{
            color: #ffc82c;
          }
  .productHeaderContainer{
            color: black;
            font-size: 3em;
            font-weight: 700;            
          }
  .productTextContainer p{
    font-weight: 800;
  }
    
          .productTextContainer{
            font-size: 1.3em;
            color:black;
          }
          .cardProd{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
               .prodBtn{
            padding: 10px 20px 10px;
            background-color: black;
            border-radius: 5px;
            color: white;
            font-weight: 600;
        }
        .prodBtn:hover{
            color: black;
            background-color: #ffc526;
        }
    #mayo{
            background-color: #ffc526;

        }
        #bbq{
            background-color: #ef8903;
          color: white;

        }
        #seafood{
            background-color: #1b25ab;
            color: white;

        }
        #mustard{
            background-color: #ffc526;
            

        }
        #dressing{
            background-color: #39b555;
              color: white;
        }
        #other{
            background-color: #03699a;
              color: white;
        }
  .bannerProducts{
    background-color: #ffc82c;
  }
{% endstylesheet %}
  <!-- Hero Banner -->
   <div class="container-fluid mt-5 p-0">
        <div class="row bannerProducts gx-0">
            <div class="col-6 p0 d-none d-md-block">
                <img class="heroImg"src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/2022-12-09-Dukes33228_1_copy.jpg?v=1681308394" alt="BBQ Sandwich dripping with Duke's BBQ Sauce" width="" height="auto"  loading="lazy"/>
 
            </div>
             <div class="col-md-6 p0">
                <img class="heroImg"src=" https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DukesAFH_Text_Prod.png?v=1684246815" alt="Kick your operation up a notch with the best condiments the South has to offer. Duke's It's Got TWANG!" width="" height="auto"  loading="lazy"/>
 
            </div>
     
        </div>
    </div>
   
     <div class="container-fluid navContainer">
        <div class="row gx-0 text-center">
            <div class="col-4 col-lg-2 secNavLinkContainer my-2">
                <a href="#mayo" class="secNavLink" style="text-decoration: none;"><p class="">MAYONNAISE</p></a>
            </div>
            <div class="col-4 col-lg-2 secNavLinkContainer my-2">
                <a href="#bbq" class="secNavLink" style="text-decoration: none;"><p class="">BBQ SAUCE</p></a>
            </div>
            <div class="col-4 col-lg-2 secNavLinkContainer my-2">
                <a href="#seafood" class="secNavLink" style="text-decoration: none;"><p class="">SEAFOOD SAUCE</p></a>
            </div>
            <div class="col-4 col-lg-2 secNavLinkContainer my-2">
                <a href="#mustard" class="secNavLink" style="text-decoration: none;"><p class="">MUSTARD</p></a>
            </div>
            <div class="col-4 col-lg-2 secNavLinkContainer my-2">
                <a href="#dressing" class="secNavLink" style="text-decoration: none;"><p class="">DRESSING</p></a>
            </div>
            <div class="col-4 col-lg-2  my-2">
                <a href="#other" class="secNavLink" style="text-decoration: none;"><p class="">OTHER</p></a>
            </div>

        </div>

          
    </div>
        <div class="container-fluid p-0 text-center my-3" >
        <div class="productHeaderContainer mayoHeader" id="mayo">
             <p>MAYONNAISE</p>
    </div>
    <div class="productTextContainer container">
        <p>
            There’s nothing better than the smooth, creamy texture and one-of-a-kind flavor of Duke’s Mayonnaise made with the same family recipe since 1917. 
        </p>
    </div>
    <div class="container">
    <div class="row ">
        <div class="col-6 col-md-4 col-lg-3 my-2">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Duke_s_Mayo_Gallon_3.png?v=1683310514" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Real Mayonnaise 4/1 Gal</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3 my-2">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Duke_s_HD_Mayo_Gallon_3_5b396eb8-e8b6-4972-ac5e-e43750b39c8e.png?v=1683310514" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                 <p class="cardTitleProd">Heavy Duty Mayonnaise 4/1 Gal</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3 my-2">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Screenshot_2023-05-11_105954.png?v=1683822685" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                 <p class="cardTitleProd">Light Mayonnaise 4/1 Gal</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3 my-2">
            <div class="cardProd  py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_HeavyDuty.png?v=1683310514" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                 <p class="cardTitleProd">Heavy Duty Mayonnaise 30lb Tub</p>
            </div>      
        </div>
       <div class="col-6 col-md-4 col-lg-3 my-2">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_64oz_Pouch_db3fe797-ad1f-455e-ba29-92682aa73e29.png?v=1683310513" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                 <p class="cardTitleProd">Real Mayonnaise 8/64oz Pouch</p>
            </div>    
        </div>
       <div class="col-6 col-md-4 col-lg-3 my-2">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_HeavyDuty_64oz_Pouch.png?v=1683310513" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">Heavy Duty Mayonnaise 2/15lb Pouch</p>
            </div>    
        </div>
       <div class="col-6 col-md-4 col-lg-3 my-2">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/tabletopMayo.png?v=1683746656" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                 <p class="cardTitleProd">Real Mayonnaise 12/18oz</p>
            </div>    
        </div>
      <div class="col-6 col-md-4 col-lg-3 my-2">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/labelPacket.png?v=1684168625" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                 <p class="cardTitleProd">Real Mayonnaise 9g-12g</p>
            </div>    
        </div>
       
            <div class="col-6 col-md-4 col-lg-3 my-2">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DukesLightPacket.jpg?v=1683310621" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                 <p class="cardTitleProd">Light Mayonnaise 200/12g Pouch</p>
            </div>    
        </div>
            <div class="col-6 col-md-4 col-lg-3 my-2">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DukesWhippedPacket.jpg?v=1683310621" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                 <p class="cardTitleProd">Whipped Salad Dressing 200/12g Pouch</p>
            </div>    
        </div>
       <div class="prodBtnContainer my-5">
            <a href="https://dukesmayofoodservice.com/pages/contact-sales" class="prodBtn"style="text-decoration: none;">Request More Info</a>
        </div>
    </div>
</div>
</div>
<div class="container-fluid p-0 text-center my-3" >
    <div class="productHeaderContainer mayoHeader" id="bbq">
        <p>BBQ SAUCE</p>
    </div>
    <div class="productTextContainer container">
        <p>
            Make any dish more southern with Duke’s regionally inspired Southern Sauces, from Carolina Gold to Tennessee Smoke & Whiskey and everything in between. Or use our Classic BBQ Sauce as a base to customize your own BBQ sauce. 
         </p>
    </div>
 <div class="container">
    <div class="row text-center">
<!--         <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/53MM_Gallon_Bottle_GeorgiaSweet_Label_new.png?v=1683310806" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Georgia Sweet Heat 4/1 Gal</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/53MM_Gallon_Bottle_Mississippi_Label_1.png?v=1683310806" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Mississippi Comeback 4/1 Gal</p>
            </div>    
        </div> -->
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/53MM_Gallon_Bottle_Hickory_Label_new.png?v=1684767735" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo"  loading="lazy"/>
                <p class="cardTitleProd">Hickory Bourbon 4/1 Gal</p>
            </div>    
        </div> 
       <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/53MM_Gallon_Carolina_Gold_Label.png?v=1683310806" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo"  loading="lazy"/>
                <p class="cardTitleProd">Carolina Gold 4/1 Gal</p>
            </div>    
        </div> 
          <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/53MM_Gallon_Bottle_TennSmoke_Label_new_0b99dc47-0edb-4262-8f2c-eacc15dad027.png?v=1683310806" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">Tennessee Smoke & Whiskey 4/1Gal</p>
            </div>    
        </div>
<!--          <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/53MM_Gallon_Bottle_Carolina_Vinegar_Label_new.png?v=1683310806" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Carolina Vinegar 4/1 Gal</p>
            </div>    
        </div> -->
         <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/53MM_Gallon_Bottle_AlabamaWhite_Label.png?v=1683310805" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Alabama Style 4/1Gal</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Classic_BBQ_GAL_1.png?v=1683310806" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Classic BBQ 4/1 Gal</p>
            </div>    
        </div>
<!--         <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Smokey_BBQ_GAL_1.png?v=1683310806" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">Smokey BBQ 4/1 Gal</p>
            </div>    
        </div> -->
       <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Sweet_BBQ_GAL_1.png?v=1683310806" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Sweet BBQ 4/1 Gal</p>
            </div>    
        </div>
   
      <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_DipCup_BBQ.png?v=1683310806" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">BBQ Sauce Dip Cup 120/1.5oz</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DSS_New_GeorgiaSweet_F.png?v=1683816453" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Georgia Sweet Heat 6/17.5oz</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DSS_New_CarolinaVin_F.png?v=1683816453" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Carolina Vinegar 6/16.8oz</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DSS_New_Tennessee_F.png?v=1683816453" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Tennessee Smoke & Whiskey 6/16.5oz</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DSS_New_Mississippi_F.png?v=1683816453" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Mississippi Comeback 6/14oz</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DSS_New_AlabamaWhite_F.png?v=1683816453" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd"> Alabama Style 6/14oz</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DSS_New_CarolinaGold_F.png?v=1683816453" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Carolina Gold 6/17oz</p>
            </div>    
        </div>
    </div>
       <div class="prodBtnContainer my-5 text-center">
            <a href="https://dukesmayofoodservice.com/pages/contact-sales" class="prodBtn"style="text-decoration: none;">Request More Info</a>
        </div>
</div>
</div>
    <div class="container-fluid p-0 text-center my-3" >
        <div class="productHeaderContainer mayoHeader" id="seafood">
            <p>SEAFOOD SAUCE</p>
        </div>
        <div class="productTextContainer container">
            <p>
                Make any dish more southern with Duke’s Southern Seafood Sauces.  Each sauce is inspired by flavors connected with southern bodies of water – from the Chesapeake Bay to the Louisiana Bayous.
            </p>
        </div>
          <div class="container">
    <div class="row ">
        <div class="col-6 col-md-4 col-lg-3 ">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_GAL_CocktailSauce_1.png?v=1683311054" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Gourmet Cocktail Sauce 4/1 Gal</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3 ">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DukesSouthernSeafood_GAL_TartarSauce.png?v=1683311054" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd"> Tidewater Tartar Sauce 4/1 Gal</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3 ">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DukesTideTartar_Pouch-white.jpg?v=1683311054" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Tidewater Tartar Sauce 8/32oz Pouch</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/BayouRem_Front.png?v=1683821969" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd"> Bayou Remoulade 9/10oz</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/CCC_Front_f746b02d-acbd-4957-8368-2e967df2130d.png?v=1683821969" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Creamy Chesapeake Cocktail Sauce 9/10oz</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/TideTartar_Front.png?v=1683821969" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd"> Tidewater Tartar Sauce 9/10oz</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/GCLGA_Front.png?v=1683821969" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">Gulf Coast Lemon Garlic Aioli 9/10oz</p>
            </div>    
        </div>
            <div class="prodBtnContainer my-5">
                <a href="https://dukesmayofoodservice.com/pages/contact-sales" class="prodBtn"style="text-decoration: none;">Request More Info</a>
            </div>
        </div>
    </div>
    </div>
   <div class="container-fluid p-0 text-center my-3" >
    <div class="productHeaderContainer mayoHeader" id="mustard">
        <p>MUSTARD</p>
    </div>
    <div class="productTextContainer container">
        <p>
            Premium, flavored mustards inspired by Duke’s southern heritage. 
        </p>
    </div>
    <div class="container">
    <div class="row ">
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_GAL_SpicyGroundMustard.png?v=1683311207" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                    Spicy Ground Mustard 4/1 Gal</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_GAL_SpicyBrownMustard.png?v=1683311207" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                    Spicy Brown Mustard 4/1 Gal</p>
            </div>    
        </div>
   
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/SpicyGroundMustard_Jar_front.png?v=1684158244" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                    Spicy Ground Mustard 6/9.5oz</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/BrownSugarBourbonMustard_Jar_front.png?v=1684158244" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                    Brown Sugar Bourbon Mustard 6/10oz</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/SmokyChipotleMustard_Jar_front.png?v=1684158244" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                    Smoky Chipotle Mustard 6/9.5oz </p>
            </div>    
        </div>
       
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/HorseradishMustard_Jar_Front.png?v=1684158244" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                    Horseradish Mustard 6/9.5oz </p>
            </div>    
        </div>
   
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Mustard_PCH_5b8ac9f0-ae8d-45c9-b074-a420c597f257.jpg?v=1683635193" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">
                    Spicy Ground Mustard 500/9g Pouch</p>
            </div>    
        </div>    
    </div>
       <div class="prodBtnContainer my-5">
            <a href="https://dukesmayofoodservice.com/pages/contact-sales" class="prodBtn"style="text-decoration: none;">Request More Info</a>
        </div>
</div>
</div>
<div class="container-fluid p-0 text-center my-3" >
    <div class="productHeaderContainer mayoHeader" id="dressing">
        <p>DRESSING</p>
    </div>
    <div class="productTextContainer container">
        <p>
            With over 20 flavor varieties, Duke’s Dressings delivers both classic and bold flavors for your salads and other dishes. 
        </p>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="cardProd py-3 h-100">
                    <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Duke_s_Buttermilk_Ranch_06121.png?v=1683311291" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                    <p class="cardTitleProd">
                        
Buttermilk Ranch 4/1 Gal</p>
                </div>    
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="cardProd py-3 h-100">
                    <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Gal_Balsamic_Vin.png?v=1683311291" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                    <p class="cardTitleProd">
                        
Balsamic Vinaigrette 4/1 Gal</p>
                </div>    
            </div>
         
            <div class="col-6 col-md-4 col-lg-3">
                <div class="cardProd py-3 h-100">
                    <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Duke_s_Thousand_Island_Dressing_06188_1x_1-1.png?v=1683311290" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                    <p class="cardTitleProd">
                       
Thousand Island 4/1 Gal</p>
                </div>    
            </div>
             <div class="col-6 col-md-4 col-lg-3">
                <div class="cardProd py-3 h-100">
                    <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Duke_s_Caesar_Dressing_06144.png?v=1683311290" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                    <p class="cardTitleProd">
                        
Caesar 4/1 Gal</p>
                </div>    
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="cardProd py-3 h-100">
                    <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_GAL_GoldenItalianDressing.png?v=1683311290" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                    <p class="cardTitleProd">
                        
Golden Italian 4/1 Gal </p>
                </div>    
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="cardProd py-3 h-100">
                    <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_GAL_HoneyMustardDressing.png?v=1683311290" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                    <p class="cardTitleProd">
                        
Honey Mustard Dressing 4/1 Gal</p>
                </div>    
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="cardProd py-3 h-100">
                    <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_GAL_BlueCheese.png?v=1683311290" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                    <p class="cardTitleProd">
                        
Deluxe Chunky Blue Cheese 4/1 Gal</p>
                </div>    
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="cardProd py-3 h-100">
                    <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_GAL_SaladDressing.png?v=1683311290" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                    <p class="cardTitleProd">
                       
Salad Dressing 4/1 Gal</p>
                </div>    
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="cardProd py-3 h-100">
                    <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_GAL_ClassicFrenchDressing.png?v=1683311290" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                    <p class="cardTitleProd">
                       
Classic French 4/1 Gal</p>
                </div>    
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="cardProd py-3 h-100">
                    <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_GAL_ZestyItalian.png?v=1683311290" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                    <p class="cardTitleProd">
                       
Zesty Italian 4/1 Gal</p>
                </div>    
            </div>
           <div class="col-6 col-md-4 col-lg-3">
                <div class="cardProd py-3 h-100">
                    <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_GAL_RanchDressing_NoMSG.png?v=1683311289" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                    <p class="cardTitleProd">
                        
Ranch (No MSG) 4/1 Gal</p>
                </div>    
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="cardProd py-3 h-100">
                    <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_GAL_RanchDressing.png?v=1683311290" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                    <p class="cardTitleProd">
                       
Ranch 4/1 Gal</p>
                </div>    
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="cardProd py-3 h-100">
                    <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DukesCilantroLimeVin.jpg?v=1683311287" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                    <p class="cardTitleProd">
                        
Cilantro Lime 4/1 Gal</p>
                </div>    
            </div>
                <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src=" https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Coleslaw_Dressing-w.jpg?v=1684159078" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">
                   
Coleslaw Dressing 4/1 Gal</p>
            </div>    
        </div>
<!--           S
   Start of 10 -->
      <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_DipCup_BlueCheese.png?v=1683311559" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                    
Blue Cheese Dip Cup 120/1.5oz</p>
            </div>    
        </div>
      <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_DipCup_Ranch.png?v=1683311559" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">
                   
Ranch Dip Cup 120/1.5oz</p>
            </div>    
        </div>
            
      <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Honey_Mustard_Dressing_Packet-single.png?v=1683311558" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                    Honey Mustard Dressing 60/1.5oz Pouch</p>
            </div>    
        </div>
      <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Balsamic_Vinaigrette_Dressing_Packet-single.png?v=1683311558" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                   
                    Balsamic Vinaigrette 60/1.5oz Pouch</p>
            </div>    
        </div>
      <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Ranch_Dressing_Packet-single.png?v=1683311558" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                    
                    Ranch 60/1.5oz Pouch</p>
            </div>    
        </div>
      <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Blue_Chesse_Dressing_Packet-single.png?v=1683311558" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                    
                    Blue Cheese 60/1.5oz Pouch</p>
            </div>    
        </div>
      <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Thousand_Island_Dressing_Packet-single.png?v=1683311558" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                   
                    Thousand Island 60/1.5oz Pouch</p>
            </div>    
        </div>
      <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Golden_Italian_Dressing_Packet-single.png?v=1683311559" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                    
                    Golden Italian 60/1.5oz Pouch</p>
            </div>    
        </div>
      <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Creamy_Caesar_Dressing_Packet-single.png?v=1683311558" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                    Creamy Caesar 60/1.5oz Pouch</p>
            </div>    
        </div>
      <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DukesGreekDressingFeta.jpg?v=1683311558" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo"  loading="lazy"/>
                <p class="cardTitleProd">
                   
Greek Dressing with Feta 60/1.5oz Pouch</p>
            </div>    
        </div>
     <div class="prodBtnContainer my-5">
            <a href="https://dukesmayofoodservice.com/pages/contact-sales" class="prodBtn"style="text-decoration: none;">Request More Info</a>
        </div>
    </div>
</div>
</div>

<div class="container-fluid p-0 text-center my-3" >
    <div class="productHeaderContainer mayoHeader" id="other">
        <p>OTHER SAUCES</p>
    </div>
    <div class="productTextContainer container">
        <p>
            Get saucy! These Duke's condiments bring bold flavors that are sure to delight your customers.
        </p>
    </div>
    <div class="container">
    <div class="row ">
               <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Duke_s_Honey_Mustard_Dipping_Sauce_06191.png?v=1683311291" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy"/>
                <p class="cardTitleProd">
                   
                    

                    Honey Mustard Dressing & Dipping Sauce 4/1 Gal</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DukesChipotleRanch_1.jpg?v=1683311887" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                   
                    
Chipotle Ranch Sauce 4/1 Gal</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_DipCup_SweetSour.png?v=1683311867" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                   
                    
Sweet & Sour Dip Cup 120/1.5oz</p>
            </div>    
        </div>
            <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_DipCup_HoneyMustard.png?v=1683311206" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                   
                    
Honey Mustard Dip Cup 120/1.5oz</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_DipCup_SignatureSauce.png?v=1683311867" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                   
                    
Signature Dip Cup 120/1.5oz</p>
            </div>    
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="cardProd py-3 h-100">
                <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_DipCup_Wing.png?v=1683311867" width="auto" height="200px" alt="Gallon Jar of Duke's Mayo" loading="lazy" />
                <p class="cardTitleProd">
                   
                    
Wing Dip Cup 120/1.5oz</p>
            </div>    
        </div>
       <div class="prodBtnContainer my-5">
            <a href="https://dukesmayofoodservice.com/pages/contact-sales" class="prodBtn"style="text-decoration: none;">Request More Info</a>
        </div>
    </div>
</div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}


{% javascript %}
{% endjavascript %}