{% comment %} <img src="https://cdn.shopify.com/s/files/1/0550/9929/3865/files/BannerContestPage.png?v=1689187090"
  width=""
  height=""
  loading="lazy"
  alt="Golden Tomato Trophy"
  class="gtaBanner"> {% endcomment %}
  <div class="container-fluid">
    <div class="row ">
      <div class="col-lg-6 p-0 m-0">
        <img src="https://cdn.shopify.com/s/files/1/0550/9929/3865/files/Golden_Tomato_-_winner_web.jpg?v=1690914707"
          width="" height=""
          loading="lazy"
          alt="Winners are!!"
          class="winnersImgCL">
      </div>
      <div class="col-lg-6 p-0 m-0">
        <img src="https://cdn.shopify.com/s/files/1/0550/9929/3865/files/Royal_American-overall.jpg?v=1690914713"
          width="" height=""
          loading="lazy"
          alt="Winners are!!"
          class="winnersImgCL">
       
      </div>
    </div>
  </div>
  
  <div class="text-center" style="font-family: Tungsten-Semibold;">
    <p class="gtaHeadline">
With Over 31,000 Votes! <br>
The City Winners Are...

    </p>

  </div>
  <div class="globo-formbuilder" data-id="114289"  style="font-family: Tungsten-Semibold;"></div>


 <div class=" my-4 py-4" style="font-family: Tungsten-Semibold;">
    
     
    
      <div class="container">
    <div class="row">
      <div class=" col-lg-6 my-3 text-center">  <div class="cityDivCL">
      <p class="clCities">
        CHARLESTON
      </p>
      <p class="restNameVotes">
        The Royal American  <br>
      
      With 8667 Votes 
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0550/9929/3865/files/RoyalAmerican.jpg?v=1690228014"
        width="" height=""
        class="logoImgsVotiing" 
        loading="lazy"
        alt=" The Royal American logo">
        <div class="text-center "> 
     
          <table class="votingTable">
            <tr >
              <th > Rank  </th>
              <th> Restaurant  </th>
              <th>Votes </th>
            </tr>
            <tr>
              <td> 2 </td>
              <td> Burbages Grocery </td>
              <td> 6913</td>
            </tr>
            <tr>
              <td> 3 </td>
              <td> The Pass</td>
              <td> 609</td>
           
            </tr>
            <tr>
              <td> 4 </td>
              <td> Legends Deli </td>
              <td> 269</td>
              
            </tr>
            <tr>
              <td> 5 </td>
              <td> Miller's All Day</td>
              <td> 179 </td>
            </tr>
          </table>
        </div></div>
           
      </div>
        <div class=" col-lg-6 my-3 text-center">  <div class="cityDivCL">
          <p class="clCities">
       Richmond
          </p>
          <p class="restNameVotes">
    Neighbor
            <br>
          With 3166 Votes
          </p>
          <img src="https://cdn.shopify.com/s/files/1/0550/9929/3865/files/Screenshot_2023-07-25_084240.png?v=1690288976"
          width="" height=""
          class=" logoImgsVotiing"
          loading="lazy"
          alt="Neighbor logo">

          <div class="text-center "> 
       
            <table class="votingTable">
              <tr >
                <th > Rank  </th>
                <th> Restaurant  </th>
                <th>Votes </th>
              </tr>
              <tr>
                <td> 2 </td>
                <td>Jack Brown's  </td>
                <td> 2481</td>
              </tr>
              <tr>
                <td> 3 </td>
                <td> Smashed RVA </td>
                <td> 486 </td>
              </tr>
              <tr>
                <td> 4 </td>
                <td> Shagbark</td>
                <td>313</td>
                
              </tr>
              <tr>
                <td> 5 </td>
                <td> Bar West </td>
                <td> 147</td>
              </tr>
            </table>
          </div></div>
        </div>
        <div class=" col-lg-6 my-3 text-center">  <div class="cityDivCL">
        <p class="clCities">
          GREENVILLE
        </p>
       
          <p class="restNameVotes">
            Urban Wren<br>
          With 1765 Votes
          </p>
          <img src="https://cdn.shopify.com/s/files/1/0550/9929/3865/files/logo_dfc7d8cd-4689-4229-88cf-e1445802d7a2.png?v=1690821942"
          width="" height=""
          class=" logoImgsVotiing"
          loading="lazy"
          alt="Harry's Hoagie Shoppe">
          <div class="text-center "> 
       
            <table class="votingTable">
              <tr >
                <th > Rank  </th>
                <th> Restaurant  </th>
                <th>Votes </th>
              </tr>
              <tr>
                <td> 2 </td>
                <td> Harry's Hoagies  </td>
                <td> 1471</td>
              </tr>
              <tr>
                <td> 3 </td>
                <td> Social Lattitude</td>
                <td>482</td>
              
             
              </tr>
              <tr>
                <td> 4 </td>
                <td>Good to Go</td>
                <td> 309 </td>
                
              </tr>
              <tr>
                <td> 5 </td>
                <td>Wandering Bard Meadery</td>
                <td> 143 </td>
          
              </tr>
            </table>
          </div></div>
       
        </div>
        <div class="col-lg-6 my-3 text-center "> 
        <div class="cityDivCL">
        <p class="clCities">
          CHARLOTTE
        </p>
        <p class="restNameVotes">
        CLT Burger Box <br>
          With 819 Votes
         </p>
        <img src="https://cdn.shopify.com/s/files/1/0550/9929/3865/files/qt_q_95.webp?v=1690228173"
          width="" height=""
          class="logoImgsVotiing"
          loading="lazy"
          alt=" CLT Burger Box logo">
          <div class="text-center "> 
       
            <table class="votingTable">
              <tr >
                <th > Rank  </th>
                <th> Restaurant  </th>
                <th>Votes </th>
              </tr>
              <tr>
                <td> 2 </td>
                <td> Already Sandwich Co. & Bake Shop </td>
                <td> 706</td>
              
              </tr>
              <tr>
                <td> 3 </td>
                <td> Dish  </td>
                <td> 528</td>
           
             
              </tr>
              <tr>
                <td> 4 </td>
                <td> Lucky Lou's Tavern </td>
                <td>166</td>
              
          
              </tr>
              <tr>
                <td> 5 </td>
                <td> Moo & Brew </td>
                <td> 106 </td>
             
              </tr>
            </table>
          </div></div>
         
        </div>
  </div>
    </div>
  </div> 
  
  
  <div class="container my-4" style="font-family: Tungsten-Semibold;">
   <a href="https://dukesmayo.com/collections/hts" style="text-decoration: none;"> <p class="text-center htsMerchBtn">
     SHOP HOT TOMATO SUMMER MERCH
    </p>
  </a>
  </div>

  {% schema %}
  {
    "name": "Section name",
    "settings": [],
    "blocks":[
       
    ]
  }
  {% endschema %}
  {% style %}
  .votingTable{
    font-size: 1.5em;
    margin: 5px auto 0;
    
    text-align: center;

  }
  .votingTable th{
    width: 33%;
  }
  .votingTable tr {
    border: black 1px solid;
  }
  tr:nth-child(even){
   background-color: #e8e9eb;
 }
  .currentLeadersDiv{
    margin: 40px 0px 40px;
    border-top: solid black 10px;
    padding: 30px 40px 30px;
  }
  .htsMerchBtn{
    background-color: #ed3526;
    padding: 10px 30px 10px;
  
    color: white;
    margin: 20px auto 20px;
    font-size: 2em;
  
  }
  .logoImgsVotiing{
    height: 200px;
  }
  .htsMerchBtn:hover{
    background-color: black;
  }
  .clgcheckback{
    font-size: 1.5em;
    margin: 0px 0px 20px;
  }
  .noVotes{
    font-size: 1.5em;
  }
  .restNameVotes{
    font-size: 2.5em;
  }
  .restLogo{
    width: 30%;
  }
  .clgtaheadline{
    font-size: 3em;
    margin: 20px 0 0px;
  }
  .clCities{
    font-size: 3em;
  }
    .gtaBanner{
      width: 100vw;
    }
  
    .gtaHeadline{
      font-size: 3em;
      font-weight: 700;
      margin: 20px 0 20px;
    }
    label{
      font-size: 2em;
    
    }
    select{
      width: 100%;
      padding: 10px 30px;
      font-size: 1.5em;
    }
    input{
      width: 100%;
      padding: 10px 30px;
      font-size: 1.5em;
    }
    .subBTN{
      color: white;
      background-color: #ed3526;
      padding: 5px 30px 5px;
      width: 30%;
      margin: auto;
      font-size: 2em;
    }
    .subBTN:hover{
      background-color: black;
    }
    .cityDivCL{
      border: 2px black solid;
      padding: 10px;
    }
    .winnersImgCL{
      width: 100vw;
    }
  {% endstyle%}