{% stylesheet %}
     @font-face {
  font-family: "Tungsten";
  src: url("https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Tungsten-SemiBold.ttf?v=1682429382");}
  .headers{
     font-family: Tungsten, Arial Narrow,Arial,sans-serif;
      font-size: 1.3em;
    color: black;
    
  }   
  .sub-Headers{
    color: black;
     font-family:Tungsten,Arial Narrow,Arial,sans-serif;
      font-size: 2em;
  }
  /* Hero Section */
        .heroDivIndex{
            background-color: #ffc82c;
        }
        .heroImg{
            width: 120%;
        }
        /* Product section */
        .psTwangImg{
                width: 50%;
        }
        .psTwangImgSm{
          width: 80%;
        }
        .psText{
            color: white;
            padding: 10px 0 10px;
          font-size: 2em;
        }
        #Pst1{
            background-color: #ffc526;

        }
        #Pst2{
            background-color: #ef8903;

        }
        #Pst3{
            background-color: #1b25ab;

        }
        #Pst4{
            background-color: #ffc526;

        }
        #Pst5{
            background-color: #39b555;

        }
        #Pst6{
            background-color: #03699a;

        }
        .psBtnDiv{
       
        }
        .psBtn{
            background-color: black;
            display: block;
            margin: auto;
        
            padding: 30px 40px 15px;
            border-radius: 5px;
            line-height: 0;
            color: white;
            color: white;
        }
        .psBtnLg{
            width: 30%;
        }
        .psBtnMob{
            width: 80%;
        }
        .psBtn:hover{
            color: black;
            background-color: #ffc526;
        
        }
        .psBtnDiv:hover{
        
        }
        /* Video Section */
        .videoDiv{
            position: relative;
            width: 100%;
            height: 800px;
            overflow: hidden;
        }

        .video{
            position: absolute;
          width: 100%;
           height: 100%;
           object-fit: cover;
            z-index: -1;
          
         
        }
        .vsImg{
            padding: 200px 0 0;
        }
        .vsImgMob{
            padding: 30px;
            background-color: black;
        }
  .heroTextIndex{
       font-family: Tungsten,Arial Narrow,Arial,sans-serif;
    color: black;
    background-color: #ffc82c;
  }
  .heroTextIndexSm{
    font-size: 2em;
    padding: 100px;
  }
  .heroTextIndexmd{
    font-size: 1.2em;
    padding-top: 30px;
  }
  .heroTextIndexlg{
    font-size: 1.4em;
    padding: 50px;
  }
  .heroTextIndexxl{
    font-size: 2.5em;
    padding: 50px;
    
  }
    .instImage{

    margin: 10px 0 10px;
  }
  .socialHeader{
    font-size: 3em;
    color: black;
  }
  .socialSubHeader{
    font-size: 2em;
    color: black;
  }
{% endstylesheet %}
 
 
    <!-- Hero Banner -->
   <div  class="container-fluid  p-0 mt-5 "> 
    <div class="row  gx-0">
<!--                <div class="col-md-6 d-block d-md-none   text-center heroTextIndex heroTextIndexSm fw-bolder">
            <p class="px-4">
                Duke’s has it.  Explore flavor in every format for the front and back of the house.
            </p>
        </div>
        <div class="col-md-6 d-none d-md-block d-lg-none    text-center heroTextIndex heroTextIndexmd fw-bolder ">
            <p class="px-4">
                Duke’s has it.  Explore flavor in every format for the front and back of the house.
            </p>
        </div>
        <div class="col-md-6  d-none d-lg-block d-xl-none   text-center heroTextIndex heroTextIndexlg fw-bolder ">
            <p class="px-4" >
                Duke’s has it.  Explore flavor in every format for the front and back of the house.
            </p>
        </div>
        <div class="col-md-6  d-none d-xl-block   text-center heroTextIndex heroTextIndexxl fw-bolder ">
            <p class="px-4">
                Duke’s has it.  Explore flavor in every format for the front and back of the house.
            </p>
        </div>
      https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DukesAFH_Text_Home.png?v=1684246815 -->
            <div class="col-md-6 p0 ">
            <img class="heroImg"src="  https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DukesAFH_Text_Home.png?v=1684246815" alt="Duke's has it. Explore flavor in every format for the front and back of the house." width="auto" height="100%" />

        </div>
        <div class="col-6 p0 d-none d-md-block">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="heroImg" src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_AFH_23_0169.jpg?v=1684438646" class="d-block" alt="Chef making coleslaw with Duke's Mayo" width="auto" height="100%">
              </div>
              <div class="carousel-item">
                   <img class="heroImg" src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_AFH_23_0850_1.jpg?v=1684438636" class="d-block" alt="Chef putting a Duke's Flag on a Burger" width="auto" height="100%">
             
              </div>
              <div class="carousel-item">
                    <img class="heroImg" src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_AFH_23_1490_1.jpg?v=1684438628" class="d-block" alt="A to go food box with a fried chicken sandwich and packets of Duke's Mayo" width="auto" height="100%">
             
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
           
        </div>
    
    </div>
</div>
<!-- Product Section -->
<div class="container-fluid p-0 my-2"> </div>
        <!-- Product Section Headers -->
        <div class="text-center fs-1 fw-bold d-none d-lg-block">
            <img class="psTwangImg "src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/TAH-01.png?v=1683293972" width="" height="" alt="text that reads Twangs all here!"/>
            <p class="headers">PRODUCTS</p>
        </div>
           <div class="text-center fs-1 fw-bold d-block d-lg-none">
            <img class="psTwangImgSm "src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/TAH-01.png?v=1683293972" width="" height="" alt="text that reads Twangs all here!"/>
            <p class="headers">PRODUCTS</p>
        </div>
        <!-- Products -->

        <div class="row gx-0 text-center fs-3 fw-bold">
            <div class="col-md-6 col-lg-4 p-0">
              <a href="https://dukesmayofoodservice.com/pages/products#mayo" style="text-decoration: none;">
                <img class="psImg" src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_AFH_Homepage_Product-03.jpg?v=1683294224" alt="Duke's Mayo in three different sizes" width="" height="">
                <p class="psText" id="Pst1">MAYONNAISE</p>
              </a>
            </div>
      
            <div class="col-md-6 col-lg-4 p-0">
              <a href="https://dukesmayofoodservice.com/pages/products#bbq" style="text-decoration: none;">
                <img class="psImg" src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_AFH_Homepage_Product-01.jpg?v=1683294224" alt="Duke's Tennessee Smoke and whiskey Southern BBQ Sauce in three different sizes" width="" height="">
                <p class="psText" id="Pst2">BBQ</p>
              </a>
            </div>
  
            <div class="col-md-6 col-lg-4 p-0">
              <a href="https://dukesmayofoodservice.com/pages/products#seafood" style="text-decoration: none;">
                <img class="psImg" src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_AFH_Homepage_Product-04.jpg?v=1683294224" alt="Duke's Tartar Seafood Sauce in two different sizes" width="" height="">
                <p class="psText" id="Pst3">SEAFOOD</p>
              </a>
            </div>
     
            <div class="col-md-6 col-lg-4 p-0">
              <a href="https://dukesmayofoodservice.com/pages/products#mustard" style="text-decoration: none;">
                <img class="psImg" src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_AFH_Homepage_Product-05.jpg?v=1683294224" alt="Duke's Spicey Ground Mustard in two different sizes " width="" height="">
                <p class="psText" id="Pst4">MUSTARD</p>
              </a>
            </div>
       
            <div class="col-md-6 col-lg-4 p-0 h-100">
              <a href="https://dukesmayofoodservice.com/pages/products#dressing" style="text-decoration: none;">
                <img class="psImg" src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_AFH_Homepage_Product-02.jpg?v=1683294224" alt="Duke's Ranch Dressing in three different sizes" width="" height="">
                <p class="psText" id="Pst5">DRESSING</p>
              </a>
            </div>
      
            <div class="col-md-6 col-lg-4 p-0">
              <a href="https://dukesmayofoodservice.com/pages/products#other" style="text-decoration: none;">
                <img class="psImg" src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_AFH_Homepage_Product-06.jpg?v=1683294224" alt="Duke's Chipotle Ranch Dressing in two different sizes" width="" height="">
                <p class="psText" id="Pst6">OTHER SAUCES</p>
              </a>
            </div>
        </div>
        </div>
        <!-- Product Section Button -->
        <div class="text-center my-3 fs-3 fw-bold">
            <p class="sub-Headers">Make Duke’s Your Full-Service Condiment Partner</p>
            <div class="psBtnDiv d-none d-lg-block ">
                <a href="https://dukesmayofoodservice.com/pages/contact-sales" style="text-decoration: none;" class="psBtnLg psBtn"><p>CONTACT SALES</p></a>
            </div>
            <div class="psBtnDiv d-block d-lg-none ">
                <a href="https://dukesmayofoodservice.com/pages/contact-sales" style="text-decoration: none;" class="psBtnMob psBtn"><p>CONTACT SALES</p></a>
            </div>
        </div>
</div>
<!-- Video Section -->

<div class="videoDiv text-center my-4 d-none d-lg-block">
  <a href="https://dukesmayo.com/pages/house-of-twang" target="_blank" >
    <div class="video">
        <video autoplay loop muted type="video/mp4" >
            <source src="https://cdn.shopify.com/videos/c/o/v/9d9a859c8c0c49498c469ba2b9a4ac75.mp4" type="video/mp4" />

        </video>
    </div>
    <div class="vsImg">
          
        <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/HOT_Logo-web.png?v=1683297041" width="40%" height="" alt="Text reading House of Twang" />
    
          </div>
</a>

</div>
<div class="videoDivMob text-center my-4 d-block d-lg-none">
  <a href="https://dukesmayo.com/pages/house-of-twang" target="_blank" >
    <div class="vsImgMob ">
        <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/HOT_Logo-web.png?v=1683297041" width="100%" height="" alt="Text reading House of Twang" />
    </div>
    <div class="videoMob">
        <video autoplay loop muted type="video/mp4" width="100%" height="auto"  >
            <source src="https://cdn.shopify.com/videos/c/o/v/9d9a859c8c0c49498c469ba2b9a4ac75.mp4" type="video/mp4" />

        </video>
    </div>
   </a>
 

</div>

<!-- Instagram Div -->



<div class="container-fluid pt-5 text-center">
    <div class="row">
           <div class="d-block d-md-none">
          <div class=" mt-5 py-5">
   
        <p class="socialHeader">
            @DUKES_MAYONNAISE
        </p>   
   
    <p class="socialSubHeader">
        #itsgottwang
    </p>
   
          </div>
    </div>
        <div class="col-md-3">
            <a href="https://www.instagram.com/p/Crl2TBkORhs/?img_index=1" target="_blank">
                <img class="instImage" src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/FriedChickenSandwich.png?v=1684169356" width="" height="" alt="A burger dripping with Duke's Mayo">
            </a>
        </div>
        <div class="col-md-6 d-none d-md-block">
          <div class=" mt-5 py-5">
   
        <p class="socialHeader">
            @DUKES_MAYONNAISE
        </p>   
   
    <p class="socialSubHeader">
        #itsgottwang
    </p>
   
          </div>
    </div>
    <div class="col-md-3">
        <a href="https://www.instagram.com/p/Cq53G-2O-rz/?img_index=1" target="_blank">
            <img class="instImage" src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/EggSalad.png?v=1684169356" width="" height="" alt="Egg Salad Sandwich made with Duke's Mayo">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a href="https://www.instagram.com/p/Cn68qbjutvW/?img_index=1" target="_blank">
            <img class="instImage" src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/MayoDump.png?v=1684169356" width="" height="" alt="A Giant cooler of Duke's Mayo being poured on a man's head">
        </a>
    </div>
  <div class="col-md-3">
        <a href="https://www.instagram.com/p/Cpn_aezOwAs/?img_index=1" target="_blank">
            <img class="instImage" src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/HotDog.png?v=1684170426" width="" height="" alt="Grilled Hot Dog covered in toppings and drizzled with Duke's Mayo">
        </a>
    </div>

    <div class="col-md-3">
        <a href="https://www.instagram.com/p/CpLjrdQusM4/?img_index=1" target="_blank">
            <img class="instImage" src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Burger.png?v=1684169356" width="" height="" alt="Burger dripping with Duke's Ranch Dressing">
        </a>
    </div>
      <div class="col-md-3">
        <a href="https://www.instagram.com/p/Crd45kTuU8J/?img_index=1" target="_blank">
            <img class="instImage" src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/HTSLogoInsta.png?v=1684169356" width="" height="" alt="Duke's Hot Tomato Summer Promo Logo">
        </a>
    </div>
</div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}



{% javascript %}
{% endjavascript %}