<div class="tailGateWrapp">

{% comment %} Parpallax Banner {% endcomment %}
<section class="heroBannerTailgate">
    <div class="container text-center  contentHeroDiv">
       
        <img 
            src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DMC_Logo-01.png?v=1686055090"
            width="" height=""
            alt="Duke's Mayo Classic Logo" 
            loading="lazy"
            class="classicLogoHero">
        <p class="heroDate"> September 2nd, 2023 </p>
        <p class="heroDate">7:30pm on</p>
        <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/ABC-Logo-1988-2007.png?v=1686662617"
            width="" height=""
            alt="ABC logo"
            class="abclogo"
            loading="lazy">
        <div class="row gy-4 gx-2">
            <div class="col-md-5">
                <img
                    src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/ncu.png?v=1686159515"
                    width="" height=""
                    alt="North Carolina Tarheels Logo"
                    loading="lazy"
                    class="colLogoHero ncu">
                    <p class="schoolText"> University of North Carolina </p>
            </div>
            <div class="col-md-2">   </div>
            <div class="col-md-5">
                <img
                    src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/SCU.png?v=1686159520"
                    width="" height=""
                    alt="South Carolina Gamecocks Logo"
                    loading="lazy"
                    class="colLogoHero usc">
                    <p class="schoolText"> University of South Carolina </p>
            </div>
        </div>
    </div>
</section>

{% comment %} Upcoming {% endcomment %}
<section id="UpTailGateSection">
    <p class="text-center headerUpcoming"> UPCOMING </p>

    <div class="container px-4">
        <div class="row gx-3 gy-4">
            <div class=" col-lg-6 px-4"> 
                <div class="gameSections">
                <div class="row ">
                    <div class="col-md-6 float-end ">
                        <img 
                            src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DMBowl_Logo_Large_c83b8c8d-bb09-4771-834b-e0db54db9a8c.png?v=1686055004"
                            width="" height=""
                            alt="Duke's Mayo Classic Logo" 
                            loading="lazy"
                            class="gameLogo">
                    </div>
                    <div class="col-md-6 float-start ">
                        <p class="yearGame"> 2023 </p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-5">
                        <img
                        src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/SEC.jpg?v=1686055114"
                        width="" height=""
                        alt="SEC Logo"
                        loading="lazy"
                        class="colLogo">
                    </div>
                    <div class="col-2 text-center py-3">
                        <div class="vsDivider"> </div>
                        <p class="vsText">VS</p>
                        <div class="vsDivider"> </div>
                    </div>
                    <div class="col-5">
                        <img
                            src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/ACC.jpg?v=1686055104"
                            width="" height=""
                            alt="ACC Logo"
                            loading="lazy"
                            class="colLogo">
                    </div>
                    <p class="text-center dateGames">Dec 27, 2023</p>
                </div></div>
       
            </div>
            <div class=" col-lg-6 px-4"> 
                <div class="gameSections">
                    <div class="row ">
                        <div class="col-md-6 float-end ">
                            <img 
                                src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DMC_Logo-01.png?v=1686055090"
                                width="" height=""
                                alt="Duke's Mayo Bowl Logo" 
                                loading="lazy"
                                class="gameLogo">
                        </div>
                        <div class="col-md-6 float-start ">
                            <p class="yearGame"> 2024 </p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-5">
                            <img
                            src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Tennessee.jpg?v=1686157185"
                            width="" height=""
                            alt="Tennessee Logo"
                            loading="lazy"
                            class="colLogo">
                        </div>
                        <div class="col-2 text-center py-3">
                            <div class="vsDivider"> </div>
                            <p class="vsText">VS</p>
                            <div class="vsDivider"> </div>
                        </div>
                        <div class="col-5">
                            <img
                                src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/ncstate.jpg?v=1686157184"
                                width="" height=""
                                alt="NC State Logo"
                                loading="lazy"
                                class="colLogo">
                        </div>
                        <p class="text-center dateGames">Sept 7, 2024</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

{% comment %} Ranked {% endcomment %}
<section>
  <div class="container">
    <div class="row">
        <div class="col-md-7">
            <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/MAyo-dump.png?v=1686068195"
            width="" height=""
            alt="Cooler pouring Mayo. With text saying Coach Beamer's mayo bath reached over 3 million people on Duke's Facebook alone"
            loading="lazy"
            class="bucketDump">
        </div>
        <div class="col-md-5 rankedDiv">
           <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/num16.png?v=1686083340"
            width="" height=""
            alt="Ranked number 16 of all bowl games, sourced from CBS NCAA CFB"
            loading="lazy"
            class="rankedImg"
            >
        </div>
    </div>
    <div class="viralDiv">
        <p class="text-center viralHeaderText"> Viral Moments Seen On </p>
        <div class="newsLogoRow ">
        <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Today_Show.jpg?v=1686068206"
            width="" height=""
            alt="Today Show Logo"
            loading="lazy"
            class="newsLogoImg">
        <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/SportsIllistrated.jpg?v=1686068206"
            width="" height=""
            alt="Sports Illustrated Logo"
            loading="lazy"
            class="newsLogoImg">
        <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/ESPN_SC.png?v=1686071887"
            width="" height=""
            alt="Sports Center ESPN Logo"
            loading="lazy"
            class="newsLogoImg">
        <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Barstool_Sports.png?v=1686068206"
            width="" height=""
            alt="Barstool Sports Logo"
            loading="lazy"
            class="newsLogoImg"> 
        </div>
    </div>

  </div>
</section>

{% comment %} Legacy {% endcomment %}
<section>
    <div class="legacyDiv py-3 my-3">
        <p class="legacyHeader text-center">2022</p>
        <div class="container">
            <div class="row gx-3 gy-4">
            <div class="col-md-6">
                <div class="gameSections h-100">
                    <div class="row ">
                        <div class="">
                            <img 
                                src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DMC_Logo-01.png?v=1686055090"
                                width="" height=""
                                alt="Duke's Mayo Classic Logo" 
                                loading="lazy"
                                class="gameLogoLegacy">
                        </div>
                       
                    </div>
                    <div class="row my-3 ">
                        <div class="col-5">
                            <img
                            src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/nccu-logo-300x300.jpg?v=1686157185"
                            width="" height=""
                            alt="NCCU Logo"
                            loading="lazy"
                            class="colLogoLegacy">
                        </div>
                        <div class="col-2 text-center py-3">
                            <div class="vsDivider"> </div>
                            <p class="vsText">VS</p>
                            <div class="vsDivider"> </div>
                        </div>
                        <div class="col-5">
                            <img
                                src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/AT_Aggies.jpg?v=1686157184"
                                width="" height=""
                                alt="AT Aggies Logo"
                                loading="lazy"
                                class="colLogoLegacy">
                        </div>
                     
                    </div>
    
                </div>
            </div>
            <div class="col-md-6">
                <div class="gameSections h-100 ">
                    <div class="row ">
                        <div class="">
                            <img 
                                src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DMBowl_Logo_Large_c83b8c8d-bb09-4771-834b-e0db54db9a8c.png?v=1686055004"
                                width="" height=""
                                alt="Duke's Mayo Bowl Logo" 
                                loading="lazy"
                                class="gameLogoLegacy">
                        </div>
                       
                    </div>
                    <div class="row my-3 ">
                        <div class="col-5">
                            <img
                            src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Maryland.jpg?v=1686157185"
                            width="" height=""
                            alt="Maryland Logo"
                            loading="lazy"
                            class="colLogoLegacy">
                        </div>
                        <div class="col-2 text-center py-3">
                            <div class="vsDivider"> </div>
                            <p class="vsText">VS</p>
                            <div class="vsDivider"> </div>
                        </div>
                        <div class="col-5">
                            <img
                                src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/ncstate.jpg?v=1686157184"
                                width="" height=""
                                alt="NC State Logo"
                                loading="lazy"
                                class="colLogoLegacy">
                        </div>
                     
                    </div>
    
                </div>
                
            </div>
            </div>
        </div>
        <p class="legacyHeader text-center">2021</p>
        <div class="container">
            <div class="row gx-3 gy-4">
            <div class="col-md-6">
                <div class="gameSections h-100">
                    <div class="row ">
                        <div class="">
                            <img 
                                src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DMC_Logo-01.png?v=1686055090"
                                width="" height=""
                                alt="Duke's Mayo Classic Logo" 
                                loading="lazy"
                                class="gameLogoLegacy">
                        </div>
                       
                    </div>
                    <div class="row my-3 ">
                        <div class="col-5">
                            <img
                            src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/ECU-Logo.png?v=1686157184"
                            width="" height=""
                            alt="ECU Logo"
                            loading="lazy"
                            class="colLogoLegacy">
                        </div>
                        <div class="col-2 text-center py-3">
                            <div class="vsDivider"> </div>
                            <p class="vsText">VS</p>
                            <div class="vsDivider"> </div>
                        </div>
                        <div class="col-5">
                            <img
                                src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Appalachian.jpg?v=1686157184"
                                width="" height=""
                                alt="Appalachian State Logo"
                                loading="lazy"
                                class="colLogoLegacy">
                        </div>
                     
                    </div>
    
                </div>
            </div>
            <div class="col-md-6">
                <div class="gameSections h-100">
                    <div class="row ">
                        <div class="">
                            <img 
                                src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DMC_Logo-01.png?v=1686055090"
                                width="" height=""
                                alt="Duke's Mayo Classic Logo" 
                                loading="lazy"
                                class="gameLogoLegacy">
                        </div>
                       
                    </div>
                    <div class="row my-3 ">
                        <div class="col-5">
                            <img
                            src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Georgia.jpg?v=1686157185"
                            width="" height=""
                            alt="Georgia Logo"
                            loading="lazy"
                            class="colLogoLegacy">
                        </div>
                        <div class="col-2 text-center py-3">
                            <div class="vsDivider"> </div>
                            <p class="vsText">VS</p>
                            <div class="vsDivider"> </div>
                        </div>
                        <div class="col-5">
                            <img
                                src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/clemson-tigers-logo.png?v=1686157184"
                                width="" height=""
                                alt="Clemson Tigers Logo"
                                loading="lazy"
                                class="colLogoLegacy">
                        </div>
                     
                    </div>
    
                </div>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="gameSections h-100">
                    <div class="row ">
                        <div class="">
                            <img 
                                src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/DMBowl_Logo_Large_c83b8c8d-bb09-4771-834b-e0db54db9a8c.png?v=1686055004"
                                width="" height=""
                                alt="Duke's Mayo Bowl Logo" 
                                loading="lazy"
                                class="gameLogoLegacy">
                        </div>
                       
                    </div>
                    <div class="row my-3 ">
                        <div class="col-5">
                            <img
                            src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/North_Carolina_Tarheels.jpg?v=1686157184"
                            width="" height=""
                            alt="North Carolina Tarheels Logo"
                            loading="lazy"
                            class="colLogoLegacy">
                        </div>
                        <div class="col-2 text-center py-3">
                            <div class="vsDivider"> </div>
                            <p class="vsText">VS</p>
                            <div class="vsDivider"> </div>
                        </div>
                        <div class="col-5">
                            <img
                                src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/SCGamecocks.jpg?v=1686157185"
                                width="" height=""
                                alt="South Carolina Gamecocks Logo"
                                loading="lazy"
                                class="colLogoLegacy">
                        </div>
                     
                    </div>
    
                </div>
            </div>
            <div class="col-md-3">
            </div>
            </div>
        </div>

    </div>
</section>

{% comment %} Social {% endcomment %}
<section>
   <div class="container">
    <div class="row gy-3">
       <div class="d-block d-lg-none col-12  text-center">
            <p class="instaName"> @DUKES_MAYONNAISE </P>
            <p class="hashTag"> #itsgottwang </p>
        </div>
        <div class="col-6 col-lg-3">
            <a href="https://www.instagram.com/reel/CiEUWvgDfBD/?img_index=1" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Mayo_Tomato_Sandwich_Eating_Contest-06613.jpg?v=1686142600"
            width="" height=""
            loading="lazy"
            alt="Tubby Duke's Mascot standing behind a man eating tomato sandwiches with no hands in a sandwich eating contest"
            class="">
            </a>
        </div>
        <div class="d-none d-lg-block col-lg-6  text-center">
            <p class="instaName"> @DUKES_MAYONNAISE </P>
            <p class="hashTag"> #itsgottwang </p>
        </div>
        <div class="col-6 col-lg-3">
            <a href="https://www.instagram.com/p/CmzxowrJuNi/?igshid=ZWQyN2ExYTkwZQ%3D%3D" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Mayo_Bowl-00043.jpg?v=1686142600"
                width="" height=""
                loading="lazy"
                alt="Head football coach of Maryland covered in Mayo "
                class=""> 
            </a>
        </div>
        <div class="col-6 col-lg-3">
            <a href="https://www.instagram.com/reel/Cmze1bujNIh/?img_index=1" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Mayo_Bowl-08762.jpg?v=1686142600"
                width="" height=""
                loading="lazy"
                alt="Tubby standing beside someone eating deviled eggs in a devil egg eating contest"
                class="">
            </a>
        </div>
        <div class="col-6 col-lg-3">
            <a href="https://www.instagram.com/p/Cm1euHjOjjn/?img_index=6" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Mayo_Bowl-08404.jpg?v=1686142601"
                width="" height=""
                loading="lazy"
                alt="Mascots from Maryland, South Carolina, and Tubby standing on a football feild"
                class="">
            </a>
        </div>
        <div class="col-6 col-lg-3">
            <a href="https://www.instagram.com/reel/CmzPQp9DEFo/?img_index=1" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Mayo_Bowl-08162.jpg?v=1686142600"
                width="" height=""
                loading="lazy"
                alt="Fans wearing red shirts drinking Mayo from the jar"
                class="">
            </a>
        </div>
        <div class="col-6 col-lg-3">
            <a href="https://www.instagram.com/p/CYZxCKRFSnh/?img_index=1" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Screenshot_2023-06-07_114145.png?v=1686156123"
                width="" height=""
                loading="lazy"
                alt="Mayo being dumped on a football coach's head"
                class="">
            </a>
        </div>
    </div>
    </div>
</section>

</div>

{%- style -%}

{%- endstyle -%}
{% javascript %}

{% endjavascript %}
{% schema %}
   {
    "name": "Section name",
    "settings": []
  }

{% endschema %}