<div>
    <img src="https://cdn.shopify.com/s/files/1/0550/9929/3865/files/DMC-FHS-header-2-02.jpg?v=1692022000"
    width="" height=""
    class="d-none d-lg-block desktopFireHouseBanner"
    loading="lazy">
    <img src="https://cdn.shopify.com/s/files/1/0550/9929/3865/files/DMC-FHS-header-2-02_copy.jpg?v=1692021981"
        width="" height=""
        class="d-block d-lg-none desktopFireHouseBanner"
        loading="lazy">
</div>    

<div class="container-fluid" style="font-family: Tungsten-Semibold;">
    <div class="row">
        <div class="col-md-6 ncDiv text-center p-5">
            <img src="https://cdn.shopify.com/s/files/1/0550/9929/3865/files/UNC-01.png?v=1691688907"
                width="" height="200px"
            
                loading="lazy" 
                class="collegeLogosFireHouse">
            <p class="schoolTextfireHouse">
                University of North Carolina
            </p>
        </div>
        <div class="col-md-6 uscDiv text-center p-5">
            <img src="https://cdn.shopify.com/s/files/1/0550/9929/3865/files/USC-logo-01.png?v=1691688907"
                width="" height="200"
               
                loading="lazy"
                class="collegeLogosFireHouse">
                <p class="schoolTextfireHouse">
                    University of South Carolina 
                </p> 
        </div>

    </div>

</div> 

<div class="text-center" style="font-family: Tungsten-Semibold;">
    <p class="gameInfoFireHouse">
        SATURDAY, SEPTEMBER 2ND @ 7:30PM <BR>
        BANK OF AMERICA STADIUM - CHARLOTTE, NC <br>
    </p>
    <p class="kickOffFireHouse">
        Kick off tailgate season with Twang!. <br>Enter for a chance to win four Duke’s Mayo Classic club level tickets and a $100 Firehouse Subs® gift card. 
    </p>

</div>
<div class="p-5">
    <div class="globo-formbuilder" data-id="MTE0ODQw"></div> 
</div>

<div class="text-center container">
    <img src="https://cdn.shopify.com/s/files/1/0550/9929/3865/files/FHS_logo_CMYK_EPS_NoTag.png?v=1691688908"
        width="400" height=""
        class="" 
        loading="lazy"
        class="fireHouseLogo ">
    <div class="text-center container p-5">
        <p class="legalFireHouse" style="font-family: Tungsten-Semibold;">
                NO PURCHASE NECESSARY. ENDS 8/30/23. OPEN TO LEGAL RESIDENTS OF THE 50 U.S. (OR D.C.), 18 YEARS OR OLDER. VOID WHERE PROHIBITED. FOR OFFICIAL RULES, PRIZE DESCRIPTION, ODDS DISCLOSURE, AND COMPLETE DETAILS, VISIT DUKESMAYO.COM/PAGES/FIREHOUSESUBSSWEEPSTAKES
                FRG, LLC IS NOT A SPONSOR OR ADMINISTRATOR OF THIS PROMOTION.
                
        </p>
    </div>
</div>

{% schema %}
{
  "name": "Section name",
  "settings": [],
  "blocks":[
     
  ]
}
{% endschema %}

{% style %}
.desktopFireHouseBanner{
    width: 100vw;
}

.ncDiv{
    background-color: #57a3d5;
}
.uscDiv{
    background-color: #850129;
}
.schoolTextfireHouse{
    color: white;
    font-size: 2em;
    font-weight: 600;
}
.legalFireHouse{
    font-size: 0.8em;
}
.fireHouseLogo{
    margin: 20px auto 50px;
    display: block;
}
.gameInfoFireHouse{
    font-size: 3em;
    font-weight: 600;
}
.kickOffFireHouse{
    font-size: 2em;
    font-weight: 600;
}
  .collegeLogosFireHouse{
    height: 300px;
  }
{% endstyle %}
{% javascript %}
{% endjavascript %}