<img src="https://cdn.shopify.com/s/files/1/0550/9929/3865/files/BannerContestPage.png?v=1689187090"
  width=""
  height=""
  loading="lazy"
  alt="Golden Tomato Trophy"
  class="gtaBanner">
  <div style="font-family: Tungsten-Semibold;">
  <div class="text-center">
    <p class="gtaHeadline">
      THANK YOU FOR VOTING
      <br>
      SARAH WILL WRITE SOMETHING FOR THIS LATER <br>
      ALSO NOT USING OUR FORM APP SO THIS AIN'T GOING TO BE HOW IT LOOKS.
    </p>
  </div>
 

  <div class="container-fluid">
      <p class="text-center clgtaheadline">
        CURRENT LEADERS
      </p>
    <div class="row">
        <div class="col-6 col-lg-3 text-center"> 
          <p class="clCities">
            RICHMOND
          </p>
          <img src="https://cdn.shopify.com/s/files/1/0434/5161/3341/files/kfc.jpg?v=1689189397"
            width="" height=""
            loading="lazy"
            alt="Restaurant Logo"
            class="restLogo">
        </div>
        <div class="col-6 col-lg-3 text-center"> 
        <p class="clCities">
          GREENVILLE
        </p>
        <img src="https://cdn.shopify.com/s/files/1/0434/5161/3341/files/mcds.jpg?v=1689189393"
          width="" height=""
          loading="lazy"
          alt="Restaurant Logo"
          class="restLogo">
        </div>
        <div class="col-6 col-lg-3 text-center"> 
        <p class="clCities">
          CHARLOTTE
        </p>
        <img src="https://cdn.shopify.com/s/files/1/0434/5161/3341/files/wendys.jpg?v=1689189393"
          width="" height=""
          loading="lazy"
          alt="Restaurant Logo"
          class="restLogo">
        </div>
        <div class="col-6 col-lg-3 text-center"> 
        <p class="clCities">
          CHARLESTON
        </p>
        <img src="https://cdn.shopify.com/s/files/1/0434/5161/3341/files/BK.jpg?v=1689189393"
          width="" height=""
          loading="lazy"
          alt="Restaurant Logo"
          class="restLogo">
        </div>
    </div>
  </div>
  </div>  </div>
  {% schema %}
  {
    "name": "Section name",
    "settings": [],
    "blocks":[
       
    ]
  }
  {% endschema %}
  {% style %}
  .restLogo{
    width: 30%;
  }
  .clgtaheadline{
    font-size: 3em;
    margin: 20px 0 20px;
  }
  .clCities{
    font-size: 2em;
  }
    .gtaBanner{
      width: 100vw;
    }
  
    .gtaHeadline{
      font-size: 3em;
      font-weight: 700;
      margin: 20px 0 20px;
    }
    label{
      font-size: 2em;
    
    }
    select{
      width: 100%;
      padding: 10px 30px;
      font-size: 1.5em;
    }
    input{
      width: 100%;
      padding: 10px 30px;
      font-size: 1.5em;
    }
    .subBTN{
      color: white;
      background-color: #ed3526;
      padding: 5px 30px 5px;
      width: 30%;
      margin: auto;
      font-size: 2em;
    }
    .subBTN:hover{
      background-color: black;
    }
  {% endstyle%}