{% stylesheet %}
  .contactBackground{
    
           
  }
{% endstylesheet %}

<div class="contactBackground py-5">

<div class="globo-formbuilder" data-id="MTExNDI2"></div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}



{% javascript %}
 var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
{% endjavascript %}