
{% comment %} Image Hero {% endcomment %}
<div class="d-block d-lg-none mt-5 pt-1"></div>
{% comment %} <div class="d-block d-lg-none mt-5 pt-5"></div>
<div class="mt-5 mt-md-0 pt-4 pt-md-0 d-none d-lg-block">
  <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Dukes_Plant_mayo_3a.png?v=1687360066"
      width="" height=""
      loading="lazy"
      alt="Duke's Plant Based Mayo Jar with Yellow and Green label"
      class="heroBannerPBM">
</div>
<div class="mt-5 mt-md-0 pt-4 pt-md-0 d-block d-lg-none">
    <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Duke_s_Mayo_Gallon_2_Plant.jpg?v=1687264904"
        width="" height=""
        loading="lazy"
        alt="Duke's Plant Based Mayo Jar with Yellow and Green label"
        class="heroBannerPBM">
</div> {% endcomment %}
<div class="container-fluid">
  <div class="row">
    <div class="col-6 d-none d-md-block p-0">
      <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Duke_s_Mayo_Gallon_2_Plant.jpg?v=1687538928"
        width="" height=""
        loading="lazy"
        alt="Duke's Plant Based Mayo Jar with Yellow and Green label"
        class="heroBannerPBM">
    </div>
    <div class="col-md-6 p-0">
      <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/BVMiEH.jpg?v=1687538903"
        width="" height=""
        loading="lazy"
        alt="Best Vegan Mayon I've ever had. Would never know it was vegan, said by chef trevor knotts, richmond restaurant group."
        class="heroBannerPBM">
    </div>
  </div>
</div>
{% comment %} Text Div {% endcomment %}
<div class="PBMTextDiv container">
    <p class="PBMTextHeader">
        INTRODUCING DUKE'S <span class="green-color">PLANT-BASED</span> MAYO
    </p>
    <p class="PBMText">
        There's nothing better than the smooth, creamy texture and one-of-a-kind flavor of Duke's Mayonnaise, now available in <span class="green-color">Plant-Based</span>. This vegan mayo is based on the family recipe since 1917, never made with sugar and this time with no eggs. Duke's <span class="green-color">Plant-Based</span> Mayo is the only vegan mayo with the little Southern something that makes good things better.
    </p>
    <p class="PBMTextSale">
        CONTACT YOUR SAUER BRANDS INC. SALES REP FOR SAMPLE
    </p>
</div>

{% comment %} Label Graphics {% endcomment %}
<div>
    <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/labelGraphics.png?v=1687271118"
        width="" height=""
        loading="lazy"
        alt="Gluten Free NO HFCS NO MSG VEGAN NO SUGAR ADDED"
        class="labelGraphicsPBM d-none d-md-block">
        <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/labelGraphics.png?v=1687271118"
            width="" height=""
            loading="lazy"
            alt="Gluten Free NO HFCS NO MSG VEGAN NO SUGAR ADDED"
            class="labelGraphicsMobilePBM d-block d-md-none">

</div>

{% comment %} Product Information {% endcomment %}
<div>
    <p class="prodInfoHeader"> PRODUCT INFORMATION </p>
</div>

{% comment %} Tabs {% endcomment %}
{% comment %} <div class="tab">
    <div class="container text-center">
      <div class="row text-center">
        <div class="col-4 col-md-4 text-center">   <button class="text-center tablinks" onclick="openCity(event, 'ItemInfo')">Item Info</button> </div>
        <div class="col-4 col-md-4 text-center">  <button class="text-center tablinks" onclick="openCity(event, 'NutritionFacts')">Nutrition Facts</button> </div>
       <div class="col-4 col-md-4 text-center">    <button class="text-center tablinks" onclick="openCity(event, 'Ingredients')">Ingredients</button></div>
      
   
      </div>
    </div>
  </div> {% endcomment %}
  <div class="tab text-center d-block d-lg-none">
    <button class="text-center tablinks" onclick="openCity(event, 'ItemInfo')">Item Info</button>
    <button class="text-center tablinks active" onclick="openCity(event, 'NutritionFacts')">Nutrition Facts</button>
    <button class="text-center tablinks" onclick="openCity(event, 'Ingredients')">Ingredients</button>
  </div>
  <div class="tab text-center d-none d-lg-block">
    <button class="text-center tablinks lgTabLinks" onclick="openCity(event, 'ItemInfo')">Item Info</button>
    <button class="text-center tablinks active lgTabLinks" onclick="openCity(event, 'NutritionFacts')">Nutrition Facts</button>
    <button class="text-center tablinks lgTabLinks" onclick="openCity(event, 'Ingredients')">Ingredients</button>
  </div>

{% comment %} Item Info {% endcomment %}
<div id="ItemInfo" class="tabcontent">
<div class="d-block d-lg-none">
    <table class="itemInfoTable ">
      <tr>
        <th>ITEM # </th>
        <td> 06003 </td>
       
      </tr>
      <tr>
        <th>CUBE </th>
        <td>0.9304 </td>

      </tr>
      <tr>
        <th> SIZE </th>
        <td> 4/1 GAL </td>
        
      </tr>
      <tr>
        <th> TI | HI </th>
        <td> 12 | 4</td>
        
      </tr>
      <tr>
        <th>GROSS WEIGHT  </th>
        <td> 31.98</td>
       
      </tr>
      <tr>
        <th>SHELFLIFE </th>
        <td> 270</td>
    
      </tr>
      <tr>
        <th>NET WEIGHT </th>
        <td>30.00 </td>
      
      </tr>
      <tr>
        <th>UPC </th>
        <td>052500060039 </td>
     
      </tr>
      <tr>
        <th>L x W x H </th>
        <td>12.56 x 12.56 x 10.19 </td>
      
      </tr>
      <tr>
        <th>GTIN </th>
        <td>10052500060036</td>
      </tr>


    </table>
  </div>
    <div class="d-none d-lg-block">
    <table class="itemInfoTable  ">
      <tr>
        <th>ITEM # </th>
        <td> 06003 </td>
        <th>CUBE </th>
        <td>0.9304 </td>
       
      </tr>
   
      <tr>
        <th> SIZE </th>
        <td> 4/1 GAL </td>
        <th> TI | HI </th>
        <td> 12 | 4</td>
        
      </tr>
    
      <tr>
        <th>GROSS WEIGHT  </th>
        <td> 31.98</td>
        <th>SHELFLIFE </th>
        <td> 270</td>
       
      </tr>
      
      <tr>
        <th>NET WEIGHT </th>
        <td>30.00 </td>
        <th>UPC </th>
        <td>052500060039 </td>
      
      </tr>
     
      <tr>
        <th>L x W x H </th>
        <td>12.56 x 12.56 x 10.19 </td>
        <th>GTIN </th>
        <td>10052500060036</td>
      
      </tr>
    


    </table>
  </div>
</div>

{% comment %} Ingredients {% endcomment %}

<div id="Ingredients" class="tabcontent ">
      <div class="ingredientsPBM container my-5">
          <p class="ipbmHeader"> 
          INGREDIENTS
          </p>
          <p class="ipbmText"> 
            Contains: Soybean Oil, Water, Distilled and Cider Vinegar, Potato Protein, Salt, Modified Food Starch, Oleoresin Paprika, Lemon Juice Concentrate, Natural Flavor, Yeast Extract, Herbs, Xanthan Gum, Beta Carotene, and Calcium Disodium EDTA Added to Protect Flavor.
            CONTAINS: NO ALLERGEN
          </p>
      </div>
</div>
{% comment %} Nutrition Facts {% endcomment %}
<div id="NutritionFacts" class="tabcontent nfTabContent">
  <div class="container my-5">
   <img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Mayo_Plant-based_Duke_s_08623_Gal_Specs.jpg?v=1687273653"
    width="" height=""
    class="nfImgPBM"
    loading="lazy"
   alt="">
</div> </div> 
{% comment %} Explore Products {% endcomment %}

<div class="text-center my-5">
  <a href="https://dukesmayofoodservice.com/pages/products" style="text-decoration: none;" class="exploreButton"> EXPLORE OUR PRODUCTS </a>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "blocks":[
       
    ]
  }
{% endschema %}

{% style %}
.green-color{
  color: #55a546;
}
.heroBannerPBM{
   width: 100vw;
}
/* PBM TEXT DIV */
.PBMTextDiv{
    text-align: center;
    padding: 20px 0px 20px;
    color: black;
}
.PBMTextHeader{
    font-size: 3em;
    font-weight: 700;
    margin: 30px 0 30px;
    color: black;
}
.PBMText{
    font-size: 1.5em;
    color: black;
}

.PBMTextSale{
    font-size: 2em;
    font-weight: 600;
    margin: 30px 0 30px;
    color: black;
}
/* Label Graphics */
.labelGraphicsPBM{
    width: 70%;
    margin: 20px auto 40px;
}
.labelGraphicsMobilePBM{
    width: 100%;
    margin: 20px auto 40px;
}
/* Product Info */
.prodInfoHeader{
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: black;
}
/* Tabs */


.tab {
  overflow: hidden;
  border-top: 5px solid #000000;
  border-bottom: 5px solid #000000;

  color: black;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  display: block-inline;
 
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  
  font-weight: 700;
  text-transform: uppercase;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #ffc82c;
}


.tab button.active {
  
  color: #ed3526;
}

/* Style the tab content */
.tabcontent {
  display: none;
  margin: 20px auto 20px;
  padding: 100px auto 100px;
  border-top: none;
}
.nfTabContent{
  display: block;
}
.nfImgPBM{
  width: 300px;
  display: block;
  margin: 20px auto 20px;
}
.ingredientsPBM{
  border: 2px solid black;
  padding: 20px;
}
.ipbmHeader{
  font-size: 1.4em;
  font-weight: 600;

}
.ipbmText{
  font-weight: 500;
}

.itemInfoTable th{
  background-color: #ffc82c;
  padding: 10px 20px 10px;
}
.itemInfoTable td{
  padding: 10px 20px 10px;
  border-bottom: black 2px solid;
  text-align: right;
}
.exploreButton{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 30px 10px;
  font-size: 2em;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 30px;
}
.exploreButton:hover{
  background-color: #ffc82c;
  color: black;
}
.itemInfoTable{
  margin: 20px auto 20px !important;
  font-size: 1em;
}
.lgTabLinks{
  font-size: 1.5em;
}
{% endstyle %}