<div class="container">
    <div class="headerBogo">
        <p > SAVE NOW ON ALL DUKE'S</p>
        <p> GET $5 OFF PER CASE!</p>
    </div>
<div class="text-center">
<img src="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/AFH_Products.png?v=1693399718"
    width="" height=""
    alt=""
    class="productImagesRebate"
    loading="lazy">


<a download="Duke's Tailgate Incentive" href="https://cdn.shopify.com/s/files/1/0731/0557/2152/files/Duke_s_Tailgate_Operator_Incentive_2023_2.pdf?v=1693399830" class="downloadPDF " target="_blank"> DOWNLOAD PDF </a>
</div>
<p class="termsBogo">
    This offer is valid on all Duke’s branded items listed here. Offer does not apply to National Accounts and current contracted business. Rebate Maximum is $500 and cannot be combined with any other offer. Allow 6-8 weeks for delivery of rebate check. Copy of Distributor invoices or Distributor Velocity Report that includes MFG code, dates purchased, specific invoice detail and purchase price is required. Rebate valid from September 1, 2023 through November 17, 2023. Rebate claims must be emailed no later than December 13, 2023. Sauer Brands, Inc. has final decision on the interpretation of the terms and conditions of this program. Information submitted shall be the property of SBI.
</p>
</div>
{%- style -%}

{%- endstyle -%}
{% javascript %}

{% endjavascript %}
{% schema %}
   {
    "name": "Section name",
    "settings": []
  }

{% endschema %}